 /* The Modal (background) */
.modal
    display: none
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    justify-content: center
    align-items: center
    @include _767
        padding: 20px
    &.active
        display: flex
        z-index: 99999
    .overlay
        position: fixed
        z-index: 1
        left: 0
        top: 0
        width: 100%
        height: 100%
        overflow: auto
        background-color: rgb(0,0,0) 
        background-color: rgba(0,0,0,0.4)
        cursor: pointer
    .modal-content
        background-color: #FFF
        width: 100%
        max-width: 850px
        padding: 90px 100px 100px
        position: relative
        box-sizing: border-box
        text-align: center
        z-index: 999
        display: none
        @include _767
            padding: 30px 20px 40px
        &.active
            display: block
        .close
            cursor: pointer
            position: absolute
            right: 30px
            top: 30px
            @include _767
                right: 12px
                top: 12px
                svg
                    width: 16px
                    height: 16px
            &:hover
                svg
                    rect
                        fill: $hover
        .modal-title
            font-size: 32px
            line-height: 41px
            margin-bottom: 15px
            @include _767
                font-size: 24px
                line-height: 31px
                margin-bottom: 12px
        .modal-description
            font-size: 18px
            line-height: 24px
            margin-bottom: 30px
            display: block
            @include _767
                font-size: 14px
                line-height: 20px
                margin-bottom: 20px
        input[type=button], input[type=submit]
            font-size: 18px
            line-height: 23px
            &#modal-submit
                width: 320px
            @include _767
                font-size: 14px
                line-height: 18px
                padding: 11px 0
                width: 100%
        .modal-form
            display: flex
            flex-direction: column
            align-items: center
            .item
                display: flex
                flex-direction: column
                margin-bottom: 20px
                width: 100%
                align-items: center
                @include _767
                    margin-bottom: 12px
                input
                    width: 320px
                    margin-bottom: 8px
                    @include _767
                        width: 100%
                    &:last-child
                        margin-bottom: 0
                    &.error
                        border-color: red
                .error
                    color: red