@import 'fonts'
@import 'media'



 
$main: rgb(253, 184, 56)
$hover: rgb(228, 166, 50)
$text: #1F1F1F
$main-font: "Futura PT"
 

*
    box-sizing: border-box

ul 
    padding: 0
    margin: 0
    li
        padding: 0
        margin: 0

h1, h2, h3, h4, h5, h6
    margin: 0
body
    font-family: $main-font
    margin: 0
    overflow-x: hidden
    background: #FFF url(img/bg-decor.png) no-repeat top left
    color: #1F1F1F
    @include _767
        font-size: 14px
        line-height: 18px
        background: #fff url(img/bg-mob.png) no-repeat left 304px
        padding-top: 86px


.md
    display: none !important
    @include _767
        display: block !important

.ld
    display: block !important
    @include _767
        display: none !important

a 
    color: $text
    text-decoration: none
    position: relative
    font-size: 16px
    line-height: 21px
    font-weight: normal
    transition: all .3s ease-in-out
    &:hover
        color: $hover
        text-decoration: none
        svg
            path
                fill: $hover
    @include _767
        font-size: 14px
        line-height: 18px

input, button, textarea
    border: 0
    padding: 0 20px
    font-family: inherit

input[type=text]
    padding: 16px 20px 17px
    border: 1px solid #BFBFBF
    font-size: 18px
    line-height: 23px
    color: #1F1F1F
    &:focus
        border-color: $main
    @include _767
        padding: 11px 16px

button, input[type=button]
    font-size: 16px
    line-height: 21px
    font-weight: normal
    @include _767
        font-size: 14px
        line-height: 18px

@import 'buttons'




.container
    width: 100%
    padding: 0 0
    position: relative
    max-width: 1280px
    margin: 0 auto
    @include _767
        padding: 0 20px
 

section
    padding: 80px 0
    @include _767
        padding: 20px 0

.block-title
    font-weight: bold
    font-size: 48px
    line-height: 62px
    margin-bottom: 30px
    text-align: center
    @include _767
        font-size: 24px
        line-height: 31px
        margin-bottom: 20px
        text-align: left

#main-header
    padding: 40px 0 0px

    @include _767
        padding: 20px 0
        position: fixed
        z-index: 99
        top: 0
        left: 0
        width: 100%
        background: #FFF
    .container
        display: flex
        justify-content: space-between
        align-items: center
    .logo
        &:hover
            svg
                path
                    fill: $main
        @include _767
            svg
                width: 88px
    #main-nav
        display: flex
        a
            font-weight: normal
            color: $text
            margin-right: 40px
            &:last-child
                margin-right: 0
            &:hover
                color: $hover
    .header-widgets
        font-size: 16px
        line-height: 21px
        display: flex
        align-items: center
        @include _767
            padding-right: 53px
        .phone
            margin-right: 40px
            @include _767
                margin-right: 30px
                svg
                    width: 20px
                    height: 20px
                    margin-right: 0 !important
            a
                display: flex
                align-items: center
                svg
                    margin-right: 8px
        .language
            span
                cursor: pointer
                color: $main
                @include _767
                    font-size: 20px
                    line-height: 26px
                    position: relative
                    top: -2px
                &:hover
                    color: $hover
                &.active
                    color: $text
                    &:hover
                        color: $text
            svg
                margin: 0 8px
    .md
        @include _767
            .logo

                
#main-footer
    .container
        .footer-content
            display: flex
            justify-content: space-between
            margin-bottom: 30px
            @include _767
                margin-bottom: 20px
                flex-direction: column-reverse
            .footer-content__contacts
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-start
                .block-title
                    margin-bottom: 40px
                    @include _767
                        margin-bottom: 15px
                .footer-widget
                    display: flex
                    flex-direction: column
                    margin-bottom: 30px
                    @include _767
                        margin-bottom: 5px
                    a
                        display: grid
                        align-items: center
                        margin-bottom: 20px
                        grid-template-columns: 20px 1fr
                        justify-items: center
                        @include _767
                            margin-bottom: 15px
                        svg
                        span
                            padding-left: 12px
                            font-size: 18px
                            line-height: 23px
                            justify-self: flex-start
                            @include _767
                                font-size: 14px
                                line-height: 18px
                                padding-left: 11px
                .footer-button
                    display: inline-block
            .footer-content__map
                @include _767
                    margin-bottom: 20px
                    iframe
                        width: 100%
                        height: 280px
        .copyright
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            padding-bottom: 30px
            @include _767
                flex-direction: column
                padding-bottom: 20px
                align-items: flex-start
                span
                    margin-bottom: 8px
                    &:last-child
                        margin: 0




#main-screen
    padding: 0 0 20px
    position: relative
    .container
        display: flex
        grid-template-columns: 2fr 1fr
        align-items: center
        position: initial
        margin: 240px auto 290px
        @include _767
            margin: 0
            display: flex
            flex-direction: column
        .main-screen-block
            max-width: 680px
            width: 100%
            .block-title
                margin-bottom: 35px
                text-align: left
                @include _767
                    margin-bottom: 12px
            .block-description 
                margin-bottom: 45px
                display: block
                @include _767
                    margin-bottom: 20px
                    line-height: 20px
            .bnf
                list-style: none
                display: flex
                margin-bottom: 55px
                @include _767
                    margin-bottom: 30px
                li
                    margin-right: 40px
                    display: flex
                    align-items: center
                    @include _767
                        margin-right: 20px
                    svg
                        margin-right: 16px
                        @include _767
                            margin-right: 8px
                            width: 16px
                    span
                        @include _767
                            font-size: 12px
                            line-height: 16px
                    &:last-child
                        margin-right: 0
            .request-button
                @include _767
                    margin-bottom: 30px
        .main-img
            position: absolute
            right: 0
            @include _767
                position: relative
                width: 100%


#about
    .container
        display: grid
        grid-template-columns: 1fr 1fr
        align-items: center
        @include _767
            display: flex
            flex-direction: column-reverse
        img
            margin-right: 80px
            max-width: 630px
            @include _767
                width: 100%
                margin: 0
        .description
            h2
                text-align: left
                margin-bottom: 35px
                @include _767
                    margin-bottom: 12px
            span
                font-size: 18px
                line-height: 28px
                display: block
                @include _767
                    font-size: 14px
                    line-height: 20px
                    margin-bottom: 20px

#build
    .block-title
        @include _767
            text-align: center
    .build-block
        display: flex
        flex-direction: column
        align-items: center
        ul
            list-style: none
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            column-gap: 30px
            width: 100%
            @include _767
                display: flex
                column-gap: 0
                flex-direction: column
            li
                padding: 30px 30px 25px
                border: 1px solid #BFBFBF
                margin-bottom: 30px
                @include _767
                    margin-bottom: 20px
                    padding: 20px
                svg
                    margin-bottom: 20px
                h4
                    font-size: 24px
                    line-height: 31px
                    margin-bottom: 12px
                    @include _767
                        margin-bottom: 8px
                        font-size: 20px
                        line-height: 26px
                span
                    font-size: 18px
                    line-height: 28px
                    @include _767
                        font-size: 14px
                        line-height: 20px
#roof-types
    .block-title
        @include _767
            text-align: center
    .roof-types-block
        display: flex
        flex-direction: column
        align-items: center
        ul
            list-style: none
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            column-gap: 30px
            @include _767
                column-gap: 0
                display: flex
                flex-direction: column
            li
                padding: 30px
                border: 1px solid #BFBFBF
                margin-bottom: 30px
                @include _767
                    padding: 20px
                    margin-bottom: 20px
                h4
                    font-size: 24px
                    line-height: 31px
                    margin-bottom: 12px
                    @include _767
                        margin-bottom: 8px
                        font-size: 20px
                        line-height: 26px
                span
                    font-size: 18px
                    line-height: 28px
                    @include _767
                        font-size: 14px
                        line-height: 20px
                img
                    width: 350px


#examples
    .block-title
        @include _767
            text-align: center
    .examples-block
        list-style: none
        display: flex
        justify-content: space-between
        @include _767
            flex-direction: column
        li
            text-align: center
            @include _767
                margin-bottom: 20px
                &:last-child
                    margin: 0
            .example-img
                padding: 0 10px
                border: 1px solid #BFBFBF
                height: 100%
                display: flex
                align-items: center
                margin-bottom: 20px
                img
                    width: 390px

                @include _767
                    margin-bottom: 12px
                    height: auto
                    width: 100%
                    padding: 30px 8px
                    img
                        width: 100%
            h4
                font-size: 24px
                line-height: 31px
                @include _767
                    font-size: 20px
                    line-height: 26px

#benefits
    @include _767
        .block-title
            text-align: center
    .benefits-block
        list-style: none
        display: grid
        grid-template-columns: repeat(5, 1fr)
        @include _767
            display: flex
            flex-direction: column
    li
        display: flex
        flex-direction: column
        border: 1px solid #BFBFBF
        padding: 15px
        margin-right: 20px
        &:last-child
            margin-right: 0
        @include _767
            margin: 0 0 20px
            width: 100%
            padding: 20px
        svg
            margin-bottom: 12px
        h4
            margin-bottom: 6px
            font-size: 16px
            line-height: 18px
        span
            font-size: 14px
            line-height: 17px

#gallery
    padding-bottom: 160px
    @include _767
        padding-bottom: 40px
    .container
        @include _767
            padding: 0 0 0 20px
    .gallery-block
        .gallery-images
            @include _767
                margin-bottom: 20px
            img
                float: left
                padding: 0 30px 30px 0
                @include _767
                    padding: 0 10px 10px 0
            .slick-slide
                @include _767
                div
                    @include _767
                    display: flex
                    img
                        @include _767
                            width: 295px !important
                        &:last-child
                            padding: 0 0 30px 0
                            @include _767
                                padding: 0 10px 10px 0
        .gallery-nav
            display: flex
            justify-content: center
            align-items: center
            @include _767
                justify-content: flex-start
            .slick-arrow
                background: $main
                width: 40px
                height: 40px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                padding: 0
                cursor: pointer
                @include _767
                    width: 32px
                    height: 32px
                    svg
                        width: 7px
                &:hover
                    background: $hover
            .dots
                margin: 0 40px
                @include _767
                    margin: 0 20px
                .slick-dots
                    position: relative
                    bottom: 0
                    display: flex
                    li
                        width: 8px
                        height: 8px
                        margin: 0 12px 0 0
                        &:last-child
                            margin: 0
                        button
                            width: 8px
                            height: 8px
                            padding: 0
                            background: #CECECE
                            border-radius: 50%
                            &::before
                                display: none
                        &.slick-active
                            button
                                background: $main
                            





.hamburger
    transform: translate(-50%, -50%)
    width: 24px
    cursor: pointer
    position: fixed
    top: 37px
    right: 8px
    z-index: 999
    span
        display: block
        width: 100%
        border-radius: 1px
        height: 2px
        background: $main
        transition: all .3s
        position: relative
    span + span
        margin-top: 5px
    &.active span:nth-child(1)
        animation: ease .35s top forwards
    &.not-active span:nth-child(1)
        animation: ease .35s top-2 forwards
    &.active span:nth-child(2)
        animation: ease .35s scaled forwards
    &.not-active span:nth-child(2)
        animation: ease .35s scaled-2 forwards
    &.active span:nth-child(3)
        animation: ease .35s bottom forwards
    &.not-active span:nth-child(3)
        animation: ease .35s bottom-2 forwards



#mob-nav
    display: flex
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #FFF
    flex-direction: column
    justify-content: center
    align-items: center
    left: -100%
    transition: all .35s ease-in-out
    padding-top: 76px
    a
        font-weight: bold
        font-size: 24px
        line-height: 31px
        margin-bottom: 40px
    &.active
        left: 0



@keyframes top 
    0% 
        top: 0
        transform: rotate(0)
    50%
        top: 7px
        transform: rotate(0)
    100% 
        top: 7px
        transform: rotate(45deg)

@keyframes top-2
    0%
        top: 77px
        transform: rotate(45deg)
    50%
        top: 7px
        transform: rotate(0deg)
    100%
        top: 0
        transform: rotate(0deg)

@keyframes bottom 
    0% 
        bottom: 0
        transform: rotate(0)
    50%
        bottom: 7px
        transform: rotate(0)
    100%
        bottom: 7px
        transform: rotate(135deg)

@keyframes bottom-2
    0%
        bottom: 7px
        transform: rotate(135deg)
    50% 
        bottom: 7px
        transform: rotate(0)
    100%
        bottom: 0
        transform: rotate(0)
@keyframes scaled
    50%
        transform: scale(0)
    100%
        transform: scale(0)
@keyframes scaled-2
    0%
        transform: scale(0)
    50%
        transform: scale(0)
    100%
        transform: scale(1)



@import 'modal'