@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-Heavy.eot");
  src: local("fonts/Futura PT Heavy"), local("fonts/FuturaPT-Heavy"), url("fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-Heavy.woff") format("woff"), url("fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-Medium.eot");
  src: local("fonts/Futura PT Medium"), local("fonts/FuturaPT-Medium"), url("fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-Medium.woff") format("woff"), url("fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-MediumObl.eot");
  src: local("fonts/Futura PT Medium Oblique"), local("fonts/FuturaPT-MediumObl"), url("fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-MediumObl.woff") format("woff"), url("fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url("fonts/FuturaPTCond-Medium.eot");
  src: local("fonts/Futura PT Cond Medium"), local("fonts/FuturaPTCond-Medium"), url("fonts/FuturaPTCond-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-Medium.woff") format("woff"), url("fonts/FuturaPTCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-LightObl.eot");
  src: local("fonts/Futura PT Light Oblique"), local("fonts/FuturaPT-LightObl"), url("fonts/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-LightObl.woff") format("woff"), url("fonts/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-Book.eot");
  src: local("fonts/Futura PT Book"), local("fonts/FuturaPT-Book"), url("fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-Book.woff") format("woff"), url("fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url("fonts/FuturaPTCond-Bold.eot");
  src: local("fonts/Futura PT Cond Bold"), local("fonts/FuturaPTCond-Bold"), url("fonts/FuturaPTCond-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-Bold.woff") format("woff"), url("fonts/FuturaPTCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("fonts/FuturaPT-BookObl.eot");
  src: local("fonts/Futura PT Book Oblique"), local("fonts/FuturaPT-BookObl"), url("fonts/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-BookObl.woff") format("woff"), url("fonts/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url("fonts/FuturaPTCond-ExtraBoldObl.eot");
  src: local("fonts/Futura PT Cond Extra Bold Oblique"), local("fonts/FuturaPTCond-ExtraBoldObl"), url("fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-ExtraBoldObl.woff") format("woff"), url("fonts/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-Light.eot");
  src: local("fonts/Futura PT Light"), local("fonts/FuturaPT-Light"), url("fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-Light.woff") format("woff"), url("fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-BoldObl.eot");
  src: local("fonts/Futura PT Bold Oblique"), local("fonts/FuturaPT-BoldObl"), url("fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-BoldObl.woff") format("woff"), url("fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url("fonts/FuturaPT-DemiObl.eot");
  src: local("fonts/Futura PT Demi Oblique"), local("fonts/FuturaPT-DemiObl"), url("fonts/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-DemiObl.woff") format("woff"), url("fonts/FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url("fonts/FuturaPTCond-ExtraBold.eot");
  src: local("fonts/Futura PT Cond Extra Bold"), local("fonts/FuturaPTCond-ExtraBold"), url("fonts/FuturaPTCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-ExtraBold.woff") format("woff"), url("fonts/FuturaPTCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url("fonts/FuturaPT-Demi.eot");
  src: local("fonts/Futura PT Demi"), local("fonts/FuturaPT-Demi"), url("fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-Demi.woff") format("woff"), url("fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-HeavyObl.eot");
  src: local("fonts/Futura PT Heavy Oblique"), local("fonts/FuturaPT-HeavyObl"), url("fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-HeavyObl.woff") format("woff"), url("fonts/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url("fonts/FuturaPT-ExtraBoldObl.eot");
  src: local("fonts/Futura PT Extra Bold Oblique"), local("fonts/FuturaPT-ExtraBoldObl"), url("fonts/FuturaPT-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-ExtraBoldObl.woff") format("woff"), url("fonts/FuturaPT-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url("fonts/FuturaPTCond-Book.eot");
  src: local("fonts/Futura PT Cond Book"), local("fonts/FuturaPTCond-Book"), url("fonts/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-Book.woff") format("woff"), url("fonts/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("fonts/FuturaPT-Bold.eot");
  src: local("fonts/Futura PT Bold"), local("fonts/FuturaPT-Bold"), url("fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-Bold.woff") format("woff"), url("fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url("fonts/FuturaPT-ExtraBold.eot");
  src: local("fonts/Futura PT Extra Bold"), local("fonts/FuturaPT-ExtraBold"), url("fonts/FuturaPT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPT-ExtraBold.woff") format("woff"), url("fonts/FuturaPT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url("fonts/FuturaPTCond-BoldObl.eot");
  src: local("fonts/Futura PT Cond Bold Oblique"), local("fonts/FuturaPTCond-BoldObl"), url("fonts/FuturaPTCond-BoldObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-BoldObl.woff") format("woff"), url("fonts/FuturaPTCond-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url("fonts/FuturaPTCond-MediumObl.eot");
  src: local("fonts/Futura PT Cond Medium Oblique"), local("fonts/FuturaPTCond-MediumObl"), url("fonts/FuturaPTCond-MediumObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-MediumObl.woff") format("woff"), url("fonts/FuturaPTCond-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url("fonts/FuturaPTCond-BookObl.eot");
  src: local("fonts/Futura PT Cond Book Oblique"), local("fonts/FuturaPTCond-BookObl"), url("fonts/FuturaPTCond-BookObl.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaPTCond-BookObl.woff") format("woff"), url("fonts/FuturaPTCond-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Futura PT";
  margin: 0;
  overflow-x: hidden;
  background: #FFF url(img/bg-decor.png) no-repeat top left;
  color: #1F1F1F;
  padding-top: 97px;
}

@media (max-width: 867px) {
  body {
    font-size: 14px;
    line-height: 18px;
    background: #fff url(img/bg-mob.png) no-repeat left 304px;
    padding-top: 86px;
  }
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.md {
  display: none !important;
}

@media (max-width: 867px) {
  .md {
    display: block !important;
  }
}

.ld {
  display: block !important;
}

@media (max-width: 867px) {
  .ld {
    display: none !important;
  }
}

a {
  color: #1F1F1F;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #e4a632;
  text-decoration: none;
}

a:hover svg path {
  fill: #e4a632;
}

@media (max-width: 867px) {
  a {
    font-size: 14px;
    line-height: 18px;
  }
}

input, button, textarea {
  border: 0;
  padding: 0 20px;
  font-family: inherit;
}

input[type=text] {
  padding: 16px 20px 17px;
  border: 1px solid #BFBFBF;
  font-size: 18px;
  line-height: 23px;
  color: #1F1F1F;
}

input[type=text]:focus {
  border-color: #fdb838;
}

@media (max-width: 867px) {
  input[type=text] {
    padding: 11px 16px;
  }
}

button, input[type=button] {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 867px) {
  button, input[type=button] {
    font-size: 14px;
    line-height: 18px;
  }
}

.btn {
  padding: 16px 50px 17px;
  background-color: #fdb838;
  cursor: pointer;
}

.btn:hover {
  background-color: #e4a632;
  color: #1F1F1F;
}

.container {
  width: 100%;
  padding: 0 0;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 867px) {
  .container {
    padding: 0 20px;
  }
}

section {
  padding: 80px 0;
}

@media (max-width: 867px) {
  section {
    padding: 20px 0;
  }
}

.block-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 867px) {
  .block-title {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 20px;
    text-align: left;
  }
}

#main-header {
  padding: 30px 0 30px;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

@media (max-width: 867px) {
  #main-header {
    padding: 20px 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
  }
}

#main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header .logo:hover svg path {
  fill: #fdb838;
}

@media (max-width: 867px) {
  #main-header .logo svg {
    width: 88px;
  }
}

#main-header #main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  max-width: 620px;
  width: 100%;
}

#main-header #main-nav a {
  font-weight: normal;
  color: #1F1F1F;
  margin-right: 10px;
  white-space: nowrap;
}

#main-header #main-nav a:last-child {
  margin-right: 0;
}

#main-header #main-nav a:hover {
  color: #e4a632;
}

#main-header .header-widgets {
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .main-screen-wrapper{
  display: flex;
}
.main-screen-wrapper .main-screen-block{
  flex: 50%;
}
.main-screen-wrapper img {
  flex: 50%;
} */

@media (max-width: 867px) {
  #main-header .header-widgets {
    padding-right: 53px;
  }
}

#main-header .header-widgets .phone {
  margin-right: 40px;
  margin-left: 10px;
}
#main-header .header-widgets .phone span{
  white-space: nowrap;
}
@media (max-width: 867px) {
  #main-header .header-widgets .phone {
    margin-right: 30px;
  }
  #main-header .header-widgets .phone svg {
    width: 20px;
    height: 20px;
    margin-right: 0 !important;
  }
}

#main-header .header-widgets .phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header .header-widgets .phone a svg {
  margin-right: 8px;
}
.language{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.language a{
  font-size: 20px;
}
#main-header .header-widgets .language span {
  cursor: pointer;
  color: #fdb838;
}

@media (max-width: 867px) {
  #main-header .header-widgets .language span {
    font-size: 20px;
    line-height: 26px;
    position: relative;
    top: -2px;
  }
}

#main-header .header-widgets .language span:hover {
  color: #e4a632;
}

#main-header .header-widgets .language span.active {
  color: #1F1F1F;
}

#main-header .header-widgets .language span.active:hover {
  color: #1F1F1F;
}

#main-header .header-widgets .language svg {
  margin: 0 8px;
}

#main-footer .container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 867px) {
  #main-footer .container .footer-content {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#main-footer .container .footer-content .footer-content__contacts {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#main-footer .container .footer-content .footer-content__contacts .block-title {
  margin-bottom: 40px;
}

@media (max-width: 867px) {
  #main-footer .container .footer-content .footer-content__contacts .block-title {
    margin-bottom: 15px;
    
  }
}

#main-footer .container .footer-content .footer-content__contacts .footer-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

@media (max-width: 867px) {
  #main-footer .container .footer-content .footer-content__contacts .footer-widget {
    margin-bottom: 5px;
  }
}

#main-footer .container .footer-content .footer-content__contacts .footer-widget a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
  justify-items: center;
}

@media (max-width: 867px) {
  #main-footer .container .footer-content .footer-content__contacts .footer-widget a {
    margin-bottom: 15px;
  }
}

#main-footer .container .footer-content .footer-content__contacts .footer-widget a span {
  padding-left: 12px;
  font-size: 18px;
  line-height: 23px;
  justify-self: flex-start;
}

@media (max-width: 867px) {
  #main-footer .container .footer-content .footer-content__contacts .footer-widget a span {
    font-size: 14px;
    line-height: 18px;
    padding-left: 11px;
  }
}

#main-footer .container .footer-content .footer-content__contacts .footer-button {
  display: inline-block;
}

@media (max-width: 867px) {
  #main-footer .container .footer-content .footer-content__map {
    margin-bottom: 20px;
  }
  #main-footer .container .footer-content .footer-content__map iframe {
    width: 100%;
    height: 280px;
  }
}

#main-footer .container .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 867px) {
  #main-footer .container .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #main-footer .container .copyright span {
    margin-bottom: 8px;
  }
  #main-footer .container .copyright span:last-child {
    margin: 0;
  }
}

#main-screen {
  padding: 0 0 20px;
  position: relative;
  height: calc(100vh - 97px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-screen .container {
  display: flex;
  align-items: center;
}
#main-screen .container .main-img{
  flex: 1 1 50%;
  max-height: 480px;
  margin-left: 103px;
}

@media (max-width: 867px) {
  #main-screen .container {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#main-screen .container .main-screen-block {
  max-width: 680px;
  width: 100%;
}

#main-screen .container .main-screen-block .block-title {
  margin-bottom: 35px;
  text-align: left;
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .block-title {
    margin-bottom: 12px;
  }
}
@media (max-height: 750px) {
  #main-screen .container .main-screen-block .block-title {
    margin-bottom: 12px;
    margin-top: 140px;
  }
}

#main-screen .container .main-screen-block .block-description {
  margin-bottom: 45px;
  display: block;
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .block-description {
    margin-bottom: 20px;
    line-height: 20px;
  }
}

#main-screen .container .main-screen-block .bnf {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .bnf {
    margin-bottom: 30px;
  }
}

#main-screen .container .main-screen-block .bnf li {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .bnf li {
    margin-right: 20px;
  }
}

#main-screen .container .main-screen-block .bnf li svg {
  margin-right: 16px;
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .bnf li svg {
    margin-right: 8px;
    width: 16px;
  }
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .bnf li span {
    font-size: 12px;
    line-height: 16px;
  }
}

#main-screen .container .main-screen-block .bnf li:last-child {
  margin-right: 0;
}

@media (max-width: 867px) {
  #main-screen .container .main-screen-block .request-button {
    margin-bottom: 30px;
  }
}

@media (max-width: 867px) {
  #main-screen .container .main-img {
    position: relative;
    width: 100%;
    margin: 0;
  }
}

#about .container {
  display: flex;
  align-items: center;
}

@media (max-width: 867px) {
  #about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#about .container img {
  margin-right: 80px;
  max-width: 630px;
  width: 55%;
}
@media (max-width: 1300px) {
  #about .container img {
    margin-left: -30px;
  }
}
@media (max-width: 1000px) {
  #about .container img {
    margin-right: 20px;
  }
}
.description{
}
@media (max-width: 867px) {
  #about .container img {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

#about .container .description h2 {
  text-align: left;
  margin-bottom: 35px;
  white-space: nowrap;
}

@media (max-width: 867px) {
  #about .container .description h2 {
    margin-bottom: 12px;
    margin-top: 160px;
  }
}

#about .container .description span {
  font-size: 18px;
  line-height: 28px;
  display: block;
}

@media (max-width: 867px) {
  #about .container .description span {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 867px) {
  #build .block-title {
    text-align: center;
  }
}

#build .build-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#build .build-block ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
}

@media (max-width: 867px) {
  #build .build-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
            column-gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#build .build-block ul li {
  padding: 30px 30px 25px;
  border: 1px solid #BFBFBF;
  margin-bottom: 30px;
}

@media (max-width: 867px) {
  #build .build-block ul li {
    margin-bottom: 20px;
    padding: 20px;
  }
}

#build .build-block ul li svg {
  margin-bottom: 20px;
}

#build .build-block ul li h4 {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 12px;
}

@media (max-width: 867px) {
  #build .build-block ul li h4 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 26px;
  }
}

#build .build-block ul li span {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 867px) {
  #build .build-block ul li span {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 867px) {
  #roof-types .block-title {
    text-align: center;
  }
}

#roof-types .roof-types-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#roof-types .roof-types-block ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 867px) {
  #roof-types .roof-types-block ul {
    -webkit-column-gap: 0;
            column-gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#roof-types .roof-types-block ul li {
  padding: 30px;
  border: 1px solid #BFBFBF;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 867px) {
  #roof-types .roof-types-block ul li {
    padding: 20px;
    margin-bottom: 20px;
  }
}

#roof-types .roof-types-block ul li h4 {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: auto;
}
@media (max-width: 1280px) {
  #roof-types .roof-types-block ul li h4 {
    font-size: 18px;
  }
}
@media (max-width: 867px) {
  #roof-types .roof-types-block ul li h4 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 26px;
  }
}

#roof-types .roof-types-block ul li span {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 867px) {
  #roof-types .roof-types-block ul li span {
    font-size: 14px;
    line-height: 20px;
  }
}

#roof-types .roof-types-block ul li img {
  width: 350px;
  margin-top: 12px;
}

@media (max-width: 867px) {
  #examples .block-title {
    text-align: center;
  }
  #roof-types .roof-types-block ul li img {
    width: 100%
  }
}

#examples .examples-block {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*! display: grid; */
  grid-template-columns: 1fr 1fr 1fr;
  /*! column-gap: 30px; */
}

@media (max-width: 867px) {
  #examples .examples-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#examples .examples-block li {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-right: 30px;
}
#examples .examples-block li:last-child {margin: 0;}
@media (max-width: 867px) {
  #examples .examples-block li {
    margin-bottom: 20px;
  }
  #examples .examples-block li:last-child {
    margin: 0;
  }
}

#examples .examples-block li .example-img {
  padding: 0 10px;
  border: 1px solid #BFBFBF;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#examples .examples-block li .example-img img {
  width: 100%;
}

@media (max-width: 867px) {
  #examples .examples-block li .example-img {
    margin-bottom: 12px;
    height: auto;
    width: 100%;
    padding: 30px 8px;
  }
  #examples .examples-block li .example-img img {
    width: 100%;
  }
}

#examples .examples-block li h4 {
  font-size: 24px;
  line-height: 31px;
}

@media (max-width: 867px) {
  #examples .examples-block li h4 {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 867px) {
  #benefits .block-title {
    text-align: center;
  }
}

#benefits .benefits-block {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 867px) {
  #benefits .benefits-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#benefits li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #BFBFBF;
  padding: 15px;
  margin-right: 20px;
}

#benefits li:last-child {
  margin-right: 0;
}

/* ========================= */

[data-aos="new-animation"] {
  opacity: 0;  
  transform: translateY(40px);
  transition-property: transform, opacity;
  transition: all 1s cubic-bezier(.165,.84,.44,1);
}
[data-aos="new-animation"].aos-animate{
  opacity: 1;
  transform: translateY(0);
}
.aos_image{
  height:  28px;
  width: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.done_img{
  margin-right: 16px;
}

/* ========================= */

@media (max-width: 867px) {
  #benefits li {
    margin: 0 0 20px;
    width: 100%;
    padding: 20px;
  }
}

#benefits li svg {
  margin-bottom: 12px;
}

#benefits li h4 {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 18px;
}

#benefits li span {
  font-size: 14px;
  line-height: 17px;
}

#gallery {
  padding-bottom: 160px;
}

@media (max-width: 867px) {
  #gallery {
    padding-bottom: 40px;
  }
}

@media (max-width: 867px) {
  #gallery .container {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-images {
    margin-bottom: 20px;
  }
}

#gallery .gallery-block .gallery-images img {
  float: left;
  padding: 0 30px 30px 0;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-images img {
    padding: 0 10px 10px 0;
  }
}

#gallery .gallery-block .gallery-images .slick-slide div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-images .slick-slide div img {
    width: 295px !important;
  }
}

#gallery .gallery-block .gallery-images .slick-slide div img:last-child {
  padding: 0 0 30px 0;
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-images .slick-slide div img:last-child {
    padding: 0 10px 10px 0;
  }
}

#gallery .gallery-block .gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#gallery .gallery-block .gallery-nav .slick-arrow {
  background: #fdb838;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-nav .slick-arrow {
    width: 32px;
    height: 32px;
  }
  #gallery .gallery-block .gallery-nav .slick-arrow svg {
    width: 7px;
  }
}

#gallery .gallery-block .gallery-nav .slick-arrow:hover {
  background: #e4a632;
}

#gallery .gallery-block .gallery-nav .dots {
  margin: 0 40px;
}

@media (max-width: 867px) {
  #gallery .gallery-block .gallery-nav .dots {
    margin: 0 20px;
  }
}

#gallery .gallery-block .gallery-nav .dots .slick-dots {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gallery .gallery-block .gallery-nav .dots .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 12px 0 0;
}

#gallery .gallery-block .gallery-nav .dots .slick-dots li:last-child {
  margin: 0;
}

#gallery .gallery-block .gallery-nav .dots .slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 0;
  background: #CECECE;
  border-radius: 50%;
}

#gallery .gallery-block .gallery-nav .dots .slick-dots li button::before {
  display: none;
}

#gallery .gallery-block .gallery-nav .dots .slick-dots li.slick-active button {
  background: #fdb838;
}

.hamburger {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  cursor: pointer;
  position: fixed;
  top: 37px;
  right: 8px;
  z-index: 999;
}

.hamburger span {
  display: block;
  width: 100%;
  border-radius: 1px;
  height: 2px;
  background: #fdb838;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.hamburger span + span {
  margin-top: 5px;
}

.hamburger.active span:nth-child(1) {
  -webkit-animation: ease .35s top forwards;
          animation: ease .35s top forwards;
}

.hamburger.not-active span:nth-child(1) {
  -webkit-animation: ease .35s top-2 forwards;
          animation: ease .35s top-2 forwards;
}

.hamburger.active span:nth-child(2) {
  -webkit-animation: ease .35s scaled forwards;
          animation: ease .35s scaled forwards;
}

.hamburger.not-active span:nth-child(2) {
  -webkit-animation: ease .35s scaled-2 forwards;
          animation: ease .35s scaled-2 forwards;
}

.hamburger.active span:nth-child(3) {
  -webkit-animation: ease .35s bottom forwards;
          animation: ease .35s bottom forwards;
}

.hamburger.not-active span:nth-child(3) {
  -webkit-animation: ease .35s bottom-2 forwards;
          animation: ease .35s bottom-2 forwards;
}

#mob-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -100%;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  padding-top: 76px;
}

#mob-nav a {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 40px;
}

#mob-nav.active {
  left: 0;
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 77px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 7px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 77px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 7px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 7px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 7px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 7px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 7px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 867px) {
  .modal {
    padding: 20px;
  }
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99999;
}

.modal .overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.modal .modal-content {
  background-color: #FFF;
  width: 100%;
  max-width: 850px;
  padding: 90px 100px 100px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  z-index: 999;
  display: none;
}

@media (max-width: 867px) {
  .modal .modal-content {
    padding: 30px 20px 40px;
  }
}

.modal .modal-content.active {
  display: block;
}

.modal .modal-content .close {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (max-width: 867px) {
  .modal .modal-content .close {
    right: 12px;
    top: 12px;
  }
  .modal .modal-content .close svg {
    width: 16px;
    height: 16px;
  }
}

.modal .modal-content .close:hover svg rect {
  fill: #e4a632;
}

.modal .modal-content .modal-title {
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 15px;
}

@media (max-width: 867px) {
  .modal .modal-content .modal-title {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 12px;
  }
}

.modal .modal-content .modal-description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  display: block;
}

@media (max-width: 867px) {
  .modal .modal-content .modal-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.modal .modal-content input[type=button], .modal .modal-content input[type=submit] {
  font-size: 18px;
  line-height: 23px;
}

.modal .modal-content input[type=button]#modal-submit, .modal .modal-content input[type=submit]#modal-submit {
  width: 320px;
}

@media (max-width: 867px) {
  .modal .modal-content input[type=button], .modal .modal-content input[type=submit] {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0;
    width: 100%;
  }
}

.modal .modal-content .modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-content .modal-form .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 867px) {
  .modal .modal-content .modal-form .item {
    margin-bottom: 12px;
  }
}

.modal .modal-content .modal-form .item input {
  width: 320px;
  margin-bottom: 8px;
}

@media (max-width: 867px) {
  .modal .modal-content .modal-form .item input {
    width: 100%;
  }
}

.modal .modal-content .modal-form .item input:last-child {
  margin-bottom: 0;
}

.modal .modal-content .modal-form .item input.error {
  border-color: red;
}

.modal .modal-content .modal-form .item .error {
  color: red;
}

 
@media (min-width: 1300px) and (max-width: 1440px) {
  .container {padding: 0 30px}
  #main-screen .container {}
  #main-screen .container .main-img {
    /*! position: relative; */
    /*! width: 100%; */
    right: -100px;
  }
  #roof-types .roof-types-block ul {width: 100%;}
  #roof-types .roof-types-block ul li img {width: 100%;}
}
@media (min-width: 867px) and (max-width: 1280px) {
  .container {padding: 0 30px}
  #main-screen .container .main-img {
    right: -100px;
  }
  #roof-types .roof-types-block ul {width: 100%;}
  #roof-types .roof-types-block ul li img {width: 100%;}
  #main-screen .container .main-screen-block {max-width: 600px;}
}

 






